body {
    background-color: hsl(212, 45%, 89%);
    width: 1440px;
}

.code {
    position: relative;
    display: inline-block;
    width: 370px;
    height: 550px;
    background-color: hsl(0, 0%, 100%);
    padding: 40px 10px;
    border-radius: 15px;
}

.code img {
    position: absolute;
    display: inline-block;
    align-items: top;
    margin: 0 9px;
    width: 350px;
    border-radius: 15px;
}

.text h1 p {
    position: absolute;
    text-align: center;
}

